h2{
    color: chocolate;
    background-color: aqua;
    font-weight: bold;
    text-align: right;
    font-size: medium;
    font-style: italic;
}
p{
    color:blueviolet ;
    text-align: center;
    text-shadow: 4em;
    text-decoration: wavy;
    font-size: larger;
}
#css{
    color: blue;
    text-decoration: none;

}